* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-nav {
  background: rgb(22, 22, 22) 0% 0% no-repeat padding-box;
  height: 1300px;
  width: 280px;
}

/* LOGO AND NAVIGATION */
.logo {
  margin-left: 60px;
}
.nav-links {
  list-style: none;
  position: relative;
  margin-left: 22px;
  margin-top: 40px;
}
.nav-links li {
  padding: 10px 0;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}
.nav-links li a img {
  margin-right: 15px;
  margin-bottom: 15px;
}
.nav-links li :hover {
  transition: 0.3s;
}

.side-img div p:hover {
  color: #cf238a;
  transition: 0.3s;
}
.side-img div {
  position: relative;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}
.side-img div p {
  margin-left: 20px;
  color: white;
  margin-top: 10px;
}
.side-img img {
  margin-left: 35px;
}
.follow p {
  margin-top: 150px;
  margin-left: 70px;
  color: white;
}
.side-img p {
  margin-left: 70px;
  color: white;
  margin-top: 50px;
}

.logo img {
  margin-top: 40px;
}
.header {
  display: flex;
}

.search-btn {
  margin-top: 30px;
  margin-left: 20px;
  width: 500px;
}

/* Navugation */
.nav-links a:hover {
  background: #cf238a;
  transition: 0.3;
  width: 170px;
}
.nav-links {
  color: white;
}
.navbar {
  margin-left: 200px;
}

a {
  text-decoration: none;
  font-family: "BPG Arial Caps", sans-serif;
  font-weight: 450;
}
ul {
  list-style: none;
}

.navbar-ul {
  display: flex;
}

.navbar-li {
  margin: 20px;
}
.navbar-ul a {
  text-decoration: none;
  color: black;
}
.main-content {
  margin-left: 80px;
}
/* MAIN_IMAGES */
.main-content {
  display: flex;
}
.image-1 p,
.image-2 p,
.image-3 p,
.image-4 p {
  margin-left: 25px;
  font-size: 12px;
  font-weight: 500;
  width: 200px;
}
.image-3 p,
.image-4 p {
  width: 200px;
}
.main-content-2 {
  display: flex;
  margin-left: 80px;
}
.image-1-1 p,
.image-2-2 p,
.image-3-3 p,
.image-4-4 p {
  margin-left: 25px;
  font-size: 12px;
  font-weight: 500;
  width: 200px;
}
.image-3-3 p,
.image-4-4 p {
  width: 200px;
}
.load {
  margin-top: 40px;
  margin-left: 500px;
  font-size: 14px;
}
