* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-nav {
  background: rgb(22, 22, 22) 0% 0% no-repeat padding-box;
  height: 1300px;
  width: 280px;
}

/* LOGO AND NAVIGATION */
.logo {
  margin-left: 60px;
}
.nav-links {
  list-style: none;
  position: relative;
  margin-left: 22px;
  margin-top: 40px;
}
.nav-links li {
  padding: 10px 0;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}
.nav-links li a img {
  margin-right: 15px;
  margin-bottom: 15px;
}
.nav-links li :hover {
  transition: 0.3s;
}

.side-img div p:hover {
  color: #cf238a;
  transition: 0.3s;
}
.side-img div {
  position: relative;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}
.side-img div p {
  margin-left: 20px;
  color: white;
  margin-top: 10px;
}
.side-img img {
  margin-left: 35px;
}
.follow p {
  margin-top: 150px;
  margin-left: 70px;
  color: white;
}
.side-img p {
  margin-left: 70px;
  color: white;
  margin-top: 50px;
}

.logo img {
  margin-top: 40px;
}
.header {
  display: flex;
}

.search-btn {
  margin-top: 30px;
  margin-left: 20px;
  width: 800px;
}
.search-btn p {
  margin-left: 200px;
  margin-right: 140px;
}
.mess {
  margin-right: -90px;
}
.bell {
  margin-right: -90px;
  margin-left: 20px;
}
.bar-img {
  margin-right: -90px;
  margin-top: -6px;
}

/* Navugation */
.load {
  width: 110px;
  height: 55px;
  background-color: #ffffff;
  border: none;
  border-radius: 28px;
  padding: 15px;
  margin-left: 500px;
  padding-right: 10px;
  margin-top: 80px;
}
.load:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}
.nav-links a:hover {
  background: #cf238a;
  transition: 0.3;
  width: 210px;
  border-radius: 28px;
}
.nav-links {
  color: white;
}
.navbar {
  margin-top: 90px;
  margin-left: 180px;
}

a {
  text-decoration: none;
  font-family: "BPG Arial Caps", sans-serif;
  font-weight: 450;
}
ul {
  list-style: none;
}

.navbar-ul {
  display: flex;
}
.navbar-ul :hover {
  background-color: #b8b8b8;
  border-radius: 10%;
  
}

.navbar-li {
  margin: 20px;
}
.navbar-ul a {
  text-decoration: none;
  color: black;
}
.main-content {
  margin-left: 80px;
}
/* MAIN_IMAGES */
.main-content {
  display: flex;
}
.image-1 p,
.image-2 p,
.image-3 p,
.image-4 p {
  margin-left: 25px;
  font-size: 12px;
  font-weight: 500;
  width: 200px;
}
.image-3 p,
.image-4 p {
  width: 200px;
}
.main-content-2 {
  display: flex;
  margin-left: 80px;
}
.image-1-1 p,
.image-2-2 p,
.image-3-3 p,
.image-4-4 p {
  margin-left: 25px;
  font-size: 12px;
  font-weight: 500;
  width: 200px;
}
.image-3-3 p,
.image-4-4 p {
  width: 200px;
}
.load-1 {
  margin-top: 40px;
  margin-left: 500px;
  font-size: 14px;
}
.design {
  display: flex;
  margin-left: 30px;
}
.design img {
  margin-top: 180px;
  margin-left: 50px;
}
.design p {
  margin-left: 60px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 550;
  width: 80px;
}
.paragraph {
  display: flex;
}
.p-1-1 {
  width: 100px;
  font-size: 11.4px;
  margin-left: 90px;
}
.p-1-1 {
  margin-top: 15px;
  width: 100px;
  font-size: 11.4px;
  margin-left: 90px;
}
.p-1-2 {
  margin-top: 15px;
  width: 100px;
  font-size: 11.4px;
  margin-left: 40px;
}
.p-1-3 {
  margin-top: 15px;
  width: 100px;
  font-size: 11.4px;
  margin-left: 40px;
}
.p-1-4 {
  margin-top: 15px;
  width: 100px;
  font-size: 11.4px;
  margin-left: 60px;
}
.p-1-5 {
  margin-top: 15px;
  width: 100px;
  font-size: 11.4px;
  margin-left: 23px;
}
.p-1-6 {
  margin-top: 15px;
  width: 100px;
  font-size: 11.4px;
  margin-left: 33px;
}
.p-1-7 {
  margin-top: 15px;
  width: 100px;
  font-size: 11.4px;
  margin-left: 43px;
}
/* SEDOND HTML */
.order {
  display: flex;
  align-items: center;
}
.order :hover {
  background: #b2b2b2;
  transition: 0.3;
  width: auto;
  border-radius: 28px;
}
.order p {
  margin-top: 120px;
  margin-left: 95px;
  font-size: 13px;
  font-weight: 620;
}
.d-flex {
  width: 800px;
}
.in-order {
  display: flex;
  align-items: center;
}
.in-order p {
  margin-top: 40px;
  margin-left: 95px;
  font-size: 13px;
}
.html-p {
  margin-top: 80px;
}
.footer-1 p {
  margin-top: 20px;
  font-size: 12px;

  margin-left: 11px;
}
.footer-1 {
  display: flex;
}
